*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  background-color: #fff;
  font-weight: 400;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__items {
  padding: 23px 60px 23px;
  width: 50%;
  font-size: 24px;
}

.header__name {
  width: 50%;
  text-align: right;
  padding: 23px 60px 24px;
}

.search {
  display: flex;
  margin: 60px 460px 40px 460px;
  justify-content: space-between;
  padding: 2px 3px;
}

.search__field {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 1px solid #dbe0e9;
  width: 650px;
  height: 40px;
  font-size: 16px;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 0px 0px 2px;
}

.search__field-input {
  width: 500px;
}

.search__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border: 1px solid #1859ff;
  background: #1859ff;
  height: 40px;
  width: 200px;
  box-shadow: 1px 1px 4px;
  border-radius: 0px 2px 2px 0px;
}

.search__span {
  display: flex;
  white-space: nowrap;
  padding: 5px 1px 0px 1px;
  margin-right: 50px;
  margin-left: 5px;
  height: 40px;
  font-size: 16px;
  color: white;
}

.search__plus {
  display: inline-block;
  padding: 5px;
  margin-left: 15px;
  margin-right: 5px;
  height: 100%;
  width: 100%;
}

.filter {
  display: flex;
  width: 600px;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  margin-left: 460px;
}

.filter__button-all {
  border: 1px solid #dbe0e9;
  box-shadow: 1px 1px 4px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px 2px 2px 2px;
  margin-right: 20px;
  font-family: Inter;
  text-align: center;
  color: #606060;
}

.filter__button-activ {
  border: 1px solid #dbe0e9;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 2px 2px 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 20px;
  font-family: Inter;
  text-align: center;
  color: #606060;
}

.filter__button-complite {
  border: 1px solid #dbe0e9;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 2px 2px 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 20px;
  font-family: Inter;
  text-align: center;
  color: #606060;
}
.task {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 460px;
  width: 785px;
  height: auto;
  box-shadow: 1px 1px 4px;
  border-radius: 2px;
}
.task__frame1 {
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  height: 56px;
  align-items: center;
  background: #f0f2f6;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 2px 0px 0px;
}
.task__frame1-img1 {
  display: flex;
  margin-left: 16px;
}
.task__frame1-txt {
  display: flex;
  margin-left: 20px;
}
.task__frame2 {
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  margin-top: 10px;
  height: 56px;
  align-items: center;
  font-size: 16px;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 2px 2px 2px;
}
.task__frame2-img1 {
  display: flex;
  margin-left: 16px;
}
.task__frame2-txt {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.task__frame2-img2 {
  display: flex;
  margin-right: 16px;
}
.task__frame2-img3 {
  display: flex;
  margin-right: 16px;
}
.task__frame3 {
  display: flex;
  white-space: nowrap;
  margin-top: 10px;
  box-sizing: border-box;
  width: 785px;
  height: 56px;
  align-items: center;
  font-size: 16px;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid red;
}
.task__frame3-img1 {
  display: flex;
  margin-left: 16px;
}
.task__frame3-txt {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.task__frame3-img2 {
  display: flex;
  margin-right: 16px;
}
.task__frame3-img3 {
  display: flex;
}
.task__frame4 {
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  margin-top: 10px;
  width: 785px;
  height: 56px;
  align-items: center;
  font-size: 16px;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 2px 2px 2px;
}
.task__frame4-img1 {
  display: flex;
  margin-left: 16px;
}
.task__frame4-txt {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.task__frame4-img2 {
  display: flex;
  margin-right: 16px;
}
.task__frame4-img3 {
  display: flex;
  margin-right: 16px;
}
.task__frame5 {
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  margin-top: 10px;
  width: 785px;
  height: 56px;
  align-items: center;
  font-size: 16px;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 2px 2px 2px;
}
.task__frame5-img1 {
  display: flex;
  margin-left: 16px;
}
.task__frame5-txt {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.task__frame5-img2 {
  display: flex;
  margin-right: 16px;
}
.task__frame5-img3 {
  display: flex;
  margin-right: 16px;
}
.task__frame6 {
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  margin-top: 10px;
  width: 785px;
  height: 56px;
  align-items: center;
  font-size: 16px;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 2px 2px 2px;
}
.task__frame6-img1 {
  display: flex;
  margin-left: 16px;
}
.task__frame6-txt {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.task__frame6-img2 {
  display: flex;
  margin-right: 16px;
}
.task__frame6-img3 {
  display: flex;
  margin-right: 16px;
}
.task__frame7 {
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  margin-top: 10px;
  width: 785px;
  height: 56px;
  align-items: center;
  font-size: 16px;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 2px 2px 2px;
}
.task__frame7-img1 {
  display: flex;
  margin-left: 16px;
}
.task__frame7-txt {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.task__frame7-img2 {
  display: flex;
  margin-right: 16px;
}
.task__frame7-img3 {
  display: flex;
  margin-right: 16px;
}
.task__frame8 {
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  margin-top: 10px;
  width: 785px;
  height: 56px;
  align-items: center;
  font-size: 16px;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 2px 2px 2px;
}
.task__frame8-img1 {
  display: flex;
  margin-left: 16px;
}
.task__frame8-txt {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.task__frame8-img2 {
  display: flex;
  margin-right: 16px;
}
.task__frame8-img3 {
  display: flex;
  margin-right: 16px;
}
.task__frame9 {
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  margin-top: 10px;
  width: 785px;
  height: 56px;
  align-items: center;
  font-size: 16px;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 2px 2px 2px;
}
.task__frame9-img1 {
  display: flex;
  margin-left: 16px;
}
.task__frame9-txt {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.task__frame9-img2 {
  display: flex;
  margin-right: 16px;
}
.task__frame9-img3 {
  display: flex;
  margin-right: 16px;
}
