*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  background-color: #fff;
  font-weight: 400;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: default;
}

.header__items {
  padding: 23px 60px 23px;
  width: 50%;
  font-size: 24px;
}

.header__name {
  width: 50%;
  text-align: right;
  padding: 23px 60px 24px;
}
.content {
  width: 100%;
  height: 100%;
}
.content__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.content__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
}

.content__search {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 2px 3px;
  width: 100%;
  height: 100%;
}

.search__field {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 1px solid #dbe0e9;
  width: 79%;
  height: 40px;
  font-size: 16px;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 0px 0px 2px;
}
.search__field-label {
  width: 100%;
}
.search__field-input {
  width: 100%;
}
.search__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border: 1px solid #1859ff;
  background: #1859ff;
  height: 40px;
  width: 21%;
  box-shadow: 1px 1px 4px;
  border-radius: 0px 2px 2px 0px;
  cursor: pointer;
}
.search__button:hover {
  background: #1859dd;
}

.search__span {
  display: flex;
  white-space: nowrap;
  width: 100%;
  padding: 5px 1px 0px 1px;
  margin: 8px 40px 8px 0px;
  height: 40px;
  font-size: 16px;
  color: white;
}

.search__plus {
  display: inline-block;
  padding: 5px;
  margin: 14px 14px 14px 22px;
  height: 100%;
  width: 100%;
}

.content__filter {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.filter__button {
  border: 1px solid #dbe0e9;
  box-shadow: 1px 1px 4px;
  padding: 0px 5px;
  border-radius: 2px 2px 2px 2px;
  margin-right: 20px;
  font-family: Inter;
  text-align: center;
  cursor: pointer;
  color: #606060;
}
.filter__button:hover {
  border: 1px solid #1859ff;
  color: #1859ff;
}
.content__task {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.task__itemfirst {
  display: flex;
  align-content: center;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  margin-bottom: 10px;
  align-items: center;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 2px 0px 0px;
  cursor: pointer;
}
.task__itemfirst:hover {
  display: flex;
  align-content: center;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  margin-bottom: 10px;
  align-items: center;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 2px 0px 0px;
  background: #f0f2f6;
}
.task__item {
  display: flex;
  align-content: center;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  margin-bottom: 10px;
  align-items: center;
  box-shadow: 1px 1px 4px;
  border-radius: 2px 2px 0px 0px;
  cursor: pointer;
  overflow: hidden;
}
.task__item:hover {
  background: #f0f2f6;
}

.task__item-img1 {
  display: flex;
  margin-left: 16px;
  scale: 1.2;
}
.task__list {
  display: flex;
  width: 100%;
  margin-left: 20px;
}
.task__item-img2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}
.task__item-img3 {
  display: flex;
  margin-right: 16px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background: #f0f0f0;
  color: #606060;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  cursor: default;
}
